.nomor{
	width: 20px;
	height: 50px;
	margin-left: 8px;
	padding:6px 12px;
  	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:1px;
	font-size: 18px;
}

.form-nama{
	width: 150px;
	height: 35px;
	margin-left: 8px;
	padding:6px 12px;
  	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:1px;
	font-size: 18px;
}

.form-username{
	width: 150px;
	height: 50px;
	margin-left: 8px;
	padding:6px 12px;
  	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:1px;
	font-size: 18px;
}

.price{
	width: 150px;
	height: 50px;
	margin-left: 8px;
	padding:6px 12px;
  	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:1px;
	font-size: 18px;
}